# Compiled
*.elc

# Packaging
.cask/
.eask/
.eldev/
.keg/

# Built distribution
dist/

# Backup files
*~

# Undo-tree save-files
*.~undo-tree

# CI test transcript, kept only to check for skipped tests
test.log
